*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#reg-form
{
    display: flex;
    justify-content: center;
}
#heading
{
 background-color: green;
 font-size: 60px;
 text-align: center;
 border: 10px solid red;
}
 table /* not take hashtag bz its not a id so */
{
    background-color: green;
 font-size: 40px;
 border: 10px solid red;
}